root = true

[*.{cs,xaml,csproj,json,md}]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_primary_constructors = false:suggestion
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

[*.xaml]
indent_style = space
indent_size = 4
